/* Custom fonts */
@font-face {
  font-family: Centra;
  src: url(./assets/fonts/CentraNo2-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url(./assets/fonts/CentraNo2-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url(./assets/fonts/CentraNo2-Book.ttf);
  font-weight: 400;
}

/*********** Default styling ************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra' sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

button {
  border: 0;
  background-color: transparent;
}

/******** Navbar Styling **********/

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: 0.32 ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

nav.navbar a.navbar-brand {
  width: 20%;
}

nav.navbar img {
  width: 50%;
  height: 20%;
}

@media (max-width: 600px) {
  nav.navbar img {
    width: 100%;
  }
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  color: cyan !important;
    opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon.socialicon {
  width: 42px;
  height: 42px;
  background: rgba(255, 255, 255, 1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 1);
}

/*.social-icon.socialicon::before {
  content: "";
  width: 42px;
  height: 42px;
  margin-left: -21px;
  margin-top: 4px;
  position: absolute;
  background-color: cyan;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon.socialicon:hover::before {
  transform: scale(1);
}*/

.social-icon.socialicon:hover {
  border: 1px solid cyan;
  background-color: cyan;
  scale: 1.1;
}

.social-icon.socialicon {
	width: 40%;
	z-index: 1;
	transition: 0.2s ease-in-out;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/************ Banner Styling ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  /* background-image: url('./assets/img/bg-animated.gif'); */
  /* background-position: top center; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}
#banner-vid {
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}
@media (max-width: 600px) {
  .banner {
    height: 1250px;
  }
  /* #banner-vid {
    position: absolute;
  } */
}
@media (max-width: 510px) {
  /* .banner {
    background-image: url('./assets/img/banner-bg-animated-mobile.gif');
  } */
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
@media (max-width: 600px) {
  .banner h1 {
    font-size: 45px;
  }
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner a {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  margin-top: 80px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.banner a svg {
  font-size: 30px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
  scale: 1.2;
}
.banner a:hover svg {
  margin-left: 30px;
  color: springgreen;
}

.banner a:hover {
  color: #0072b1;
}

.banner img {
  /*animation: updown 3s linear infinite;*/
}
.banner .astronaut {
  width: 110%;
  height: 110%;
}

.banner .welcomemessage {
  position: absolute;
  top: -33%;
  right: 45%;
  width: 90%;
  object-fit: contain;
  scale: 0.9;
}
.banner .banner-images {
  animation: updown 3s linear infinite;
}

@media (max-width: 600px) {
  /*.banner .welcomemessage {
    display: none;
  }*/
  .banner .banner-images {
    scale: 0.8;
  }
  .banner a {
    margin-bottom: 120px;
  }
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

@media (max-width: 1200px) {
  .banner .welcomemessage {
    width: 75%;
    top: -42%;
    right: 42%;
  }
  .banner .astronaut {
    width: 90%;
    height: 90%;
  }
}

.wrap {
  color: springgreen;
  border-right: 0.08em solid #666;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  49% {
    border-right: 0.08em solid #666;
  }
  50% {
    border-right: 0.08em solid rgba(102, 102, 102, 0);
  }
  100% {
    border-right: 0.08em solid rgba(102, 102, 102, 0);
  }
}

/*.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}*/

/*********** Skills ***********/
.skill {
  padding: 0 0 50px 0;
  position: relative;
}
.skill-box {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skill h2 {
  font-size: 45px;
  font-weight: 700;
}
.skill p {
  color: #B8B888;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skills-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.background-image-L {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
  left: 0;
}

/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}
.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
  color: springgreen;
}
.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: cyan;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
@media (max-width: 600px) {
  .project .nav.nav-pills .nav-link::before {
    position: absolute;
    left: 0;
    top: -13px;
    height: 150%;
  }
  .nav-link#projects-tabs-tab-second {
    height: 86px;
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .nav-link#projects-tabs-tab-third {
    height: 86px;
    padding: 30px 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 55px 55px 0;
  }
  .project .nav.nav-pills .nav-link {
    text-align: center;
    
  }
}
.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
    color: #fff;
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  width: 100%;
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
  color: gold;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}
#proj-url {
  text-decoration: none;
  color: #fff;
}

/************ Studies Styling ************/
.studies h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 1em;
}
.study h4 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
  color: springgreen;
  margin-bottom: 1rem;
  background: linear-gradient(90.21deg, #aa367c70 -5.91%, #492fbd7b 90.58%);
  border-radius: 15px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}
.study h4 .programme {
  font-size: 30px;
  color: #fff
}
.study h5 {
  font-size: 25px;
  font-weight: 600;
  color: cyan;
}

.study {
  margin-bottom: 3rem;
}
.studies {
  background-color: #12121200;
}
.background-image-L-studies {
  top: 65%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
  left: 0;
}
.study p {
  font-size: 20px;
  font-weight: 600;
}

/************ Work Styling ************/
.work {
  padding: 0;
  margin: 0;
}
.work .container {
  padding: 0;
  margin: 0;
}
.work-container {
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
  width: 100vw;
}
.work h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
  color: cyan;
  margin-bottom: 1em;
}
.work p {
  color: #B8B888;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}
.works-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
/* .works-slider .item {
  padding: 5px;
  margin: 10px;
  background: #151515df;
  border-radius: 1em;
  height: 500px;
} */

.img-container {
  height: 270px;
}
.works-slider .item img {
  width: 90%;
  margin: 0 auto 15px auto;
}
@media (max-width: 1024px) {
  .works-slider .item {
    height: 400px;
  }
  .img-container {
    height: 180px;
  }
}
@media (max-width: 460px) {
  .works-slider .item {
    height: 430px;
  }
  .img-container {
    height: 180px;
  }
} 

.works-slider h5 {
  font-weight: 700;
  color: springgreen;
}
.works-slider .work-time {
  color: cyan;
}
/* .work-card {
  background-color: #765bad83 !important;
  height: 380px !important;
}
.card-title {
  color: springgreen;
  font-size: 30px !important;
  font-weight: 500 !important;
}
.card-text {
  font-size: 20px !important;
  font-weight: 400 !important;
}
@media (max-width: 1400px) {
  .work-card {
    height: 390px !important;
  }
}
@media (max-width: 1200px) {
  .card-title {
    font-size: 25px !important;
  }
  .card-text {
    font-size: 15px !important;
  }
  .work-card {
    height: 330px !important;
  }
}
.work-cards {
  margin-bottom: 2em !important;
  position: relative !important;
  display: flex !important;
  justify-content: center;
}
.work {
  width: 90%;
  margin: auto;
  padding: 10px;
} */

/************ Footer Styling ************/

.thank-you-msg {
  font-size: 60px;
  font-weight: 800;
  color: cyan;
  text-align: center;
  padding: 35px;
}
.footer {
  padding: 0 0 50px 0;
  background-image: url('./assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-logo {
  width: 26%;
  position: absolute;
  left: 0.5%;
  bottom: 0;
  scale: 0.7;
}
.footer .goodbye-astronaut {
  scale: 0.5;
  position: absolute;
  top: -55%;
  right: 12%;
}

.footer .goodbye-message {
  position: absolute;
  top: -58%;
  right: -5%;
  object-fit: contain;
  scale: 0.5;
}
.footer .footer-goodbye-img {
  animation: updown 3s linear infinite;
  width: 60%;
  margin: auto;
  height: 300px;
}
@media (max-width: 1400px) {
  .footer .goodbye-astronaut {
    scale: 0.5;
    top: -55%;
    right: 0%;
  }
  
  .footer .goodbye-message {
    top: -55%;
    right: -20%;
    object-fit: contain;
    scale: 0.5;
  }
  .footer .footer-goodbye-img {
    width: 60%;
    margin: auto;
    height: 300px;
  }
}
@media (max-width: 1000px) {
  .footer .goodbye-astronaut {
    scale: 0.4;
    top: -55%;
    right: -10%;
  }
  
  .footer .goodbye-message {
    top: -45%;
    right: -32%;
    object-fit: contain;
    scale: 0.4;
  }
  .footer .footer-goodbye-img {
    width: 60%;
    margin: auto;
    height: 300px;
  }
}
@media (max-width: 600px) {
  .footer .goodbye-astronaut {
    position: absolute;
    scale: 0.4;
    top: -70%;
    right: -40%;
  }
  .footer .goodbye-message {
    top: -59%;
    right: -68%;
    object-fit: contain;
    scale: 0.4;
  }
  .footer .footer-goodbye-img {
    width: 60%;
    margin: auto;
    height: 300px;
  }
}
@media (max-width: 450px) {
  .footer .goodbye-astronaut {
    position: absolute;
    scale: 0.35;
    top: -70%;
    right: -60%;
  }
  .footer .goodbye-message {
    top: -55%;
    right: -85%;
    object-fit: contain;
    scale: 0.3;
  }
  .footer .footer-goodbye-img {
    width: 60%;
    margin: auto;
    height: 300px;
  }
}
@media (max-width: 420px) {
  .footer .goodbye-astronaut {
    position: absolute;
    scale: 0.35;
    top: -70%;
    right: -80%;
  }
  .footer .goodbye-message {
    top: -53%;
    right: -108%;
    object-fit: contain;
    scale: 0.3;
  }
  .footer .footer-goodbye-img {
    width: 60%;
    margin: auto;
    height: 300px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
